body {
background-image: url('https://preview.redd.it/vtbk068l99lz.png?width=640&crop=smart&auto=webp&s=af542b12e284b195c5c3e5142e0b581c7b042341');
background-position: center;
background-repeat: no-repeat;
height: 100vh;
background-color: #4597eb;
font-family:
  }