body {
  background-color: rgb(19, 19, 62);
}



img {
  width: 500px;

}
h1{
  color: #ffffff;
  
}

.texto1{
  color: #ffffff;
  font-size: 15px;
  font-family: verdana;

}
h2{color: #ffffff;
  font-size: 15px;
  

}




h3 {
  font-size: 20px;
  color: #ffffff;
  font-family: verdana;
}


.texto2 {
  color: #ffffff;
  font-size: 15px;
  font-family: verdana;
}



h4 {
  color: #ffffff;
  font-size: small;
  font-family: monospace;
  font-size: 15px


}

p {
  font-family: monospace;
  font-size: small;
  width: 500px;
  color: #ffffff;
}

.texto3{
  color: #ffffff;
  font-family: Verdana;
  font-size: 15px;
}
.texto4{
  color: #ffffff;
  font-family: verdana;
  font-size: 15px
}
.texto5{
  color: #ffffff;
  font-family: verdana;
  font-size: 15px;
}
.texto6{
  color: #ffffff;
  font-family: verdana;
  font-size: 15px;
}
.texto6{
  color: #ffffff;
  font-family: verdana;
  font-size: 15px;
}
.texto7{
  color: #ffffff;
  font-family: verdana;
  font-size: 15px;
}
.texto8{
  color: #ffffff;
  font-family: verdana;
  font-size: 15px;
}
.texto9{
  color: #ffffff;
  font-family: verdana;
  font-size: 15px;
}
