body {
  background-image: url('./assets/iPhone\ 16\ -\ 7.png');
  background-position: center;
  background-size: 550px;
  background-repeat: repeat;
  background-color: black
  ;
}



img {
  width: 500px;

}
h1{
  color: #ffffff;
  
}

.texto1{
  font-family: "Pokemon", sans-serif;
  font-size: 40px;
  color: rgb(0, 26, 255) !important;
  text-shadow: 3px 3px 5px rgb(0, 0, 255);

}
h2{color: #ffffff;
  font-size: 15px;
  

}
@font-face {
  font-family: "Pokemon";
  src: url(../../assets/pokemon/Pokemon\ Solid.ttf) format("truetype");
}
a{
      font-family: "Pokemon", sans-serif;
      font-size: 40px;
      color: yellow !important;
      text-shadow: 3px 3px 5px rgb(0, 0, 255);
}



h3 {
  font-size: 20px;
  color: #ffffff;
  font-family: verdana;
}


.texto2 {
  font-family: "Pokemon", sans-serif;
      font-size: 40px;
      color: rgb(255, 128, 0) !important;
      text-shadow: 3px 3px 5px rgb(0, 0, 255);
}



h4 {
  color: #ffffff;
  font-size: small;
  font-family: monospace;
  font-size: 15px


}

p {
  font-family: "Pokemon", sans-serif;
      font-size: 40px;
      color: yellow !important;
      text-shadow: 3px 3px 5px rgb(0, 0, 255);
}

.texto3{
  font-family: "Pokemon", sans-serif;
  font-size: 40px;
  color: rgb(136, 0, 255) !important;
  text-shadow: 3px 3px 5px rgb(0, 0, 255);
}
.texto4{
  font-family: "Pokemon", sans-serif;
      font-size: 40px;
      color: rgb(0, 60, 255) !important;
      text-shadow: 3px 3px 5px rgb(255, 255, 255);
}
.texto5{
  font-family: "Pokemon", sans-serif;
      font-size: 40px;
      color: rgb(255, 106, 0) !important;
      text-shadow: 3px 3px 5px rgb(255, 255, 255);
}
.texto6{
  font-family: "Pokemon", sans-serif;
  font-size: 40px;
  color: rgb(0, 0, 0) !important;
  text-shadow: 3px 3px 5px rgb(255, 242, 0);
}
.texto7{
  font-family: "Pokemon", sans-serif;
  font-size: 40px;
  color: rgb(197, 255, 104) !important;
  text-shadow: 3px 3px 5px rgb(0, 255, 21);
  }
.texto8{
  font-family: "Pokemon", sans-serif;
      font-size: 40px;
      color: rgb(243, 129, 7) !important;
      text-shadow: 3px 3px 5px rgb(255, 255, 255);
}
.texto9{
  font-family: "Pokemon", sans-serif;
      font-size: 40px;
      color: rgb(255, 255, 255) !important;
      text-shadow: 3px 3px 5px rgb(21, 255, 0);
}
