body {
    background-image: url('assets/High_resolution_wallpaper_background_ID_77700481936.webp');
    background-size: cover; /* Preenche o espaço sem distorcer */
    background-position: center;
    background-repeat: repeat;
    width: 100vw; /* 100% da largura da tela */
    height: 100vh; /* 100% da altura da tela */
    overflow: hidden; 
}
@font-face {
    font-family: "Pokemon";
    src: url(../../assets/pokemon/Pokemon\ Solid.ttf) format("truetype");
}
a{
        font-family: "Pokemon", sans-serif;
        font-size: 40px;
        color: yellow !important;
        text-shadow: 3px 3px 5px rgb(0, 0, 255);
}
img{
    width: 40px;
}
p{
    color: rgb(234, 234, 234);
    align-items: center;
}
.pokedex-card {
    width: 320px;
    background: #f5f5f5;
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.15);
    padding: 16px;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .pokemon-header {
    text-align: center;
  }
  
  .pokemon-img {
    width: 120px;
    height: auto;
  }
  
  .pokemon-name {
    font-size: 24px;
    margin: 8px 0 0;
  }
  
  .pokemon-id {
    color: #888;
  }
  
  .pokemon-info p {
    margin: 4px 0;
  }
  
  .stats {
    margin-top: 12px;
    background: #e0e0e0;
    padding: 8px;
    border-radius: 8px;
  }