body {
    background-image: url('assets/High_resolution_wallpaper_background_ID_77700481936.webp');
    background-size: cover; /* Preenche o espaço sem distorcer */
    background-position: center;
    background-repeat: repeat;
    width: 100vw; /* 100% da largura da tela */
    height: 100vh; /* 100% da altura da tela */
    overflow: hidden; 
}
@font-face {
    font-family: "Pokemon";
    src: url(../../assets/pokemon/Pokemon\ Solid.ttf) format("truetype");
}
a{
        font-family: "Pokemon", sans-serif;
        font-size: 40px;
        color: yellow !important;
        text-shadow: 3px 3px 5px rgb(0, 0, 255);
}
img{
    width: 40px;
}
p{
    color: rgb(234, 234, 234);
    align-items: center;
}
.Pikachu{
    width: 60px;
}
.lucario{
    width: 40px;    
}
.greninja{
    width: 40px;
}
.blaziken{
    width: 35px;
}
