
img {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vh;
}

body {
        background-color: rgba(250, 255, 151, 0.419);
        background-size: cover; /* Preenche o espaço sem distorcer */
        background-position: center;
        background-repeat: repeat;
        width: 100vw; /* 100% da largura da tela */
        height: 100vh; /* 100% da altura da tela */
        overflow: hidden; 
    }
@font-face {
    font-family: "Pokemon";
    src: url(../../assets/pokemon/Pokemon\ Solid.ttf) format("truetype");
}
a{
    font-family: "Pokemon", sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255) !important;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.roberto {
    display: flex;
    width: auto;
    height: auto;
    text-align: top;
    background-color: #3e3434;
    padding: 100px;
  }
h1{
    font-family: "Pokemon";
    src: url(../../assets/pokemon/Pokemon\ Solid.ttf) format("truetype");
    color: rgb(246, 255, 0);
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    text-align: centers;
}