body {
    background-image: url(https://mrwallpaper.com/images/high/minimalist-dragonite-evolution-6omtl4v0h4nijn45.webp);
background-position: relative;
background-repeat: repeat;
div {
    padding: 10px;
    padding-left: 10px;
}

}